<div class="modal-body">
  <section class="form-block">
    <div class="modal-body">

      <h3 class="modal-title">รายงานลงทะเบียน Consent Form</h3>

      <clr-datagrid>
        <clr-dg-column [clrDgField]="'cid'">เลขบัตรประชาชน</clr-dg-column>
        <clr-dg-column [clrDgField]="'fullname'">ชื่อ - สกุล</clr-dg-column>
        <clr-dg-column [clrDgField]="'sex'">เพศ</clr-dg-column>
        <clr-dg-column [clrDgField]="'telephone'">เบอร์โทรศัพท์</clr-dg-column>
        <clr-dg-column [clrDgField]="'date_reg'" [clrDgSortOrder]="descSort">วัน เวลา ลงทะเบียน</clr-dg-column>
        <clr-dg-column>File</clr-dg-column>
        <clr-dg-column [clrDgField]="'register'">ผู้บันทึก</clr-dg-column>
        <clr-dg-column>##</clr-dg-column>

        <clr-dg-row *clrDgItems="let i of items">
          <clr-dg-cell>{{i.cid}}</clr-dg-cell>
          <clr-dg-cell>{{i.title}}{{i.fullname}}</clr-dg-cell>
          <clr-dg-cell *ngIf="i.sex == '1'">ชาย</clr-dg-cell>
          <clr-dg-cell *ngIf="i.sex == '2'">หญิง</clr-dg-cell>
          <clr-dg-cell>{{i.telephone}}</clr-dg-cell>
          <clr-dg-cell>{{i.date_reg | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
          <clr-dg-cell>
            <div class="btn-group btn-sm">
              <button class="btn" *ngIf="i.file_path" (click)="getFile(i.document_id)">
                <clr-icon shape="picture" class="has-badge"></clr-icon>
              </button>
              <button class="btn" (click)="uploadfile = true" *ngIf="!i.file_path" (click)="file(i)">
                <clr-icon shape="arrow"></clr-icon>
              </button>
            </div>
          </clr-dg-cell>
          <clr-dg-cell>{{i.register}}</clr-dg-cell>
          <clr-dg-cell>
            <div class="btn-group btn-outline-primary btn-sm">
              <button class="btn btn-primary" (click)="consentEdit(i)">Edit</button>
              <button class="btn btn-danger" (click)="consentDel(i)">Del</button>
            </div>
          </clr-dg-cell>
        </clr-dg-row>

        <!-- <clr-dg-footer>{{items.length}} items</clr-dg-footer> -->
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">items per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} items
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </section>
</div>

<clr-modal [(clrModalOpen)]="edit" [clrModalClosable]="false" [clrModalSize]="'gl'">
  <h3 class="modal-title">แก้ไข ผู้ทะเบียน Consent Form</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>cid</label>
        <input type="text" clrInput name="cid" [(ngModel)]="cid" />
      </clr-input-container>
      <clr-input-container>
        <label>hospcode</label>
        <input type="text" clrInput name="hospcode" [(ngModel)]="hospcode" />
      </clr-input-container>
      <clr-input-container>
        <label>title</label>
        <input type="text" clrInput name="title" [(ngModel)]="title" />
      </clr-input-container>
      <clr-input-container>
        <label>ชื่อ - สกุล</label>
        <input type="text" clrInput name="name" [(ngModel)]="name" />
      </clr-input-container>
      <clr-select-container>
        <label>sex</label>
        <select clrSelect name="sex" [(ngModel)]="sex">
          <option value="1">ชาย</option>
          <option value="2">หญิง</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>telephone</label>
        <input type="text" clrInput name="telephone" [(ngModel)]="telephone" />
      </clr-input-container>
      <clr-input-container>
        <label>expiration</label>
        <input type="date" clrInput name="expiration" [(ngModel)]="expiration" />
      </clr-input-container>
      <clr-select-container>
        <label>status</label>
        <select clrSelect name="status" [(ngModel)]="status">
          <option value="0">ตัวผู้รับบริการ</option>
          <option value="1">คนในครอบครัว</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>detail</label>
        <input type="text" clrInput name="detail" [(ngModel)]="detail" />
      </clr-input-container>
      <clr-input-container>
        <label>register</label>
        <input type="text" clrInput name="register" [(ngModel)]="register" />
      </clr-input-container>
      <clr-input-container>
        <label>date_reg</label>
        <input type="date" clrInput name="date_reg" [(ngModel)]="date_reg" />
      </clr-input-container>
    </form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="Save()">Save</button>
    <button type="button" class="btn btn-primary" (click)="edit = false">Close</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="uploadfile" [clrModalClosable]="false" [clrModalSize]="'gl'">
  <h3 class="modal-title">Upload File Consent Form</h3>
  <div class="modal-body">
    <input type="file" (change)="fileChangeEvent($event)" #fileUpload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="upload(cid)">Save</button>
    <button type="button" class="btn btn-primary" (click)="uploadfile = false">Close</button>
  </div>
</clr-modal>